Updating origin
https://github.com/libertine-linux-mirrors/gnulib
Branch 'master' set up to track remote branch 'master' from 'origin'.
[submodule "upstream"]
	path = upstream
	url = https://github.com/libertine-linux-mirrors/gnulib.git
	branch = master
	libertine-linux-upstream = git://git.savannah.gnu.org/gnulib.git
